<%= form_for establishment, url: url  do |f| %>
  <div class="field">
  <%= f.label tr :name %>
  <%= f.text_field :name %>
  <%= field_error establishment, :name %>
</div>
  <div class="field">
  <%= f.label tr :schedule %>
  <%= f.text_field :schedule %>
  <%= field_error establishment, :schedule %>
</div>
  <div class="field">
  <%= f.label tr :phone %>
  <%= f.text_field :phone %>
  <%= field_error establishment, :phone %>
</div>
<%= f.fields_for :address do |a| %>
  <div class="field">
  <%= a.label tr :street %>
  <%= a.text_field :street %>
</div>
<div class="field">
  <%= a.label tr :city %>
  <%= a.text_field :city %>
</div>
<div class="field">
  <%= a.label tr :state %>
  <%= a.text_field :state %>
</div>
<div class="field">
  <%= a.label tr :country %>
  <%= a.text_field :country %>
</div>
<div class="field">
  <%= a.label tr :zip_code %>
  <%= a.text_field :zip_code, class: 'medium' %>
</div>
      <% end %>
<div class="submit">
  <%= f.submit submit  %>
  <%= link_to t('.cancel'), (establishment.id.nil? ? dashboard_establishments_path : dashboard_establishment_path(id: establishment.id)) %>
</div>
<% end %>
