<section class="content">
  <%= display_notice %>
  <%= display_alert %>
  <div class="content title">
    <h3><%= t('.establishments') %></h3>
    <%= link_to t('.create'), new_dashboard_establishment_path, class: 'button'  %>
  </div>
  <section class="group-establishments" id="establishments" class="content">
    <%= render @establishments or message_empty t('.empty')  %>
  </section>
</section>
<script type="text/javascript" charset="utf-8">
$(function(){
  $('.group-establishments').masonry({
    itemSelector: '.establishment',
    columnWith: 240
  });
});
</script>
