<section class="content">
  <%= display_notice %>
  <div class="content title-item">
    <h3><%= @establishment.name %></h3>
    <%= form_for @order, url: dashboard_establishment_orders_path(establishment_id: params[:id]) do |f| %>
      <%= f.submit t('.order_to'), class: 'button' %>
    <% end %>
    <%= link_to t('.add_food'), new_dashboard_establishment_food_path(establishment_id: @establishment.id), class: 'button' %>
    <%= link_to t('.edit'), edit_dashboard_establishment_path, class: 'button' %>
  </div>
  <p class="content">
  <%= "#{t('.address')}: #{@establishment.address.full_address}" %></br>
  <%= "#{t('.schedule')}: #{@establishment.schedule}" %></br>
  <%= "#{t('.phones')}: #{@establishment.phone}" %>
  </p>
  <div class="span4">
    <h4 class="content menu"<%= t('.menu') %></h4>
    <section id="foods">
      <%= display_foods t('.food_empty') %>
    </section>
  </div>
  <div class="span7">
    <div class="gallery">
      <div id="thumbs">
        <% @establishment.images.each do |item| %>
          <%= image_tag item.image.url(:thumb) %>
        <% end %>
      </div>
    </div>
    <%= render partial: 'dashboard/images/form', locals: { object: @establishment } %>
    <div id="map"></div>
  </div>
</section>
<script type="text/javascript">
<% params = "#{@establishment.address.latitude}, #{@establishment.address.longitude}".html_safe %>
document.addEventListener('page:change', function(){
  new App.Utilities.Map(<%= params %>);
});

$(function(){
  new App.Utilities.Map(<%= params %>);
});
</script>
