<section class="content">
  <%= display_notice %>
  <%= display_alert %>
  <div class="content title-item">
    <h3><%= @order.no_order %></h3>
    <div class="option">
      <ul>
        <li><%= link_to 'Invitar', new_dashboard_establishment_order_invitation_path(order_id: @order.id), id: 'invited', class: 'button' unless order_payment? %></li>
        <li><%= button_tag 'Pagar orden', id: 'payment', class: 'button', data: { id: @order.id } unless order_payment? %></li>
        <%= display_change_status @order %>
        <%= display_cancel_order @order unless order_payment? %>
      </ul>
    </div>
  </div>
  <% unless order_payment? %>
  <div class="span4">
    <h4 class="content menu"><%= @establishment.name %> :: Menu:</h4>
    <section id="foods" data-establishment-id="<%= @establishment.id %>">
      <%= display_foods t('.food_empty'), { partial: 'dashboard/foods/food_order', collection: @foods  } %>
    </section>
  </div>
  <% end%>
  <div class="span7">
    <h4 class="content order_detail">Orden detallado:</h4>
    <section id="order_details">
      <%= render partial: 'dashboard/order_details/order_detail', collection: @order_details %>
    </section>
    <div class="details">
      <div class="description-total">
        <div id="total"><%= number_to_currency @order.total, unit: '$' %></div>
        <div id="description">Total:</div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
document.addEventListener('page:change', function(){
  new App.Utilities.Order();
});

$(function(){
  new App.Utilities.Order();
});
</script>
