<section class="content">
  <%= display_notice %>
  <%= display_alert %>
  <div class="content title-item">
    <h3><%= @order.name %></h3>
    <%= button_to "Cancelar orden", dashboard_establishment_order_path, method: :delete, class: 'destroy button' %>
  </div>
  <div class="span4">
    <h4 class="content menu"><%= @establishment.name %> :: Menu:</h4>
    <section id="foods" data-establishment-id="<%= @establishment.id %>">
      <%= display_foods t('.food_empty') %>
    </section>
  </div>
  <div class="span7">
    <h4 class="content order_detail">Orden detallado:</h4>
    <section id="order_details">
      <%= render partial: 'dashboard/order_details/order_detail', collection: @order_details %>
    </section>
    <div class="details">
      <div class="options">
        <ul>
          <li><%= link_to 'Invitar', new_dashboard_establishment_order_invitation_path(order_id: @order.id), id: 'invited', class: 'button' %></li>
          <li><%= button_tag 'Pagar orden', id: 'payment', class: 'button', data: { id: @order.id } %></li>
          <li><%= select_tag 'status', options_status(@order.status), id: 'status' %>
        </ul>
      </div>
      <div id="total">
        <%= number_to_currency @order.total, unit: '$' %>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
document.addEventListener('page:change', function(){
  new App.Utilities.Order();
});

$(function(){
  new App.Utilities.Order();
});
</script>
